.postfb{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 10px auto;
    width: 400px;

}

.header{
    justify-content: space-around;
    display: flex;
}
.btn{
    border-radius: 100px;
    background-color: white;
    margin: 3px;
}
.btn:hover{
    background-color: rgba(0, 0, 0,0.1);
}
.content {
    margin: 15px;
    justify-content:space-around;
    padding: 10px;
}
.footer p{
    justify-content: space-around;
    font-size: 0.8em;
    justify-content: space-around;
}
.button{
    justify-content: space-around;
    display: flex;
    margin: 10px;
}
.button:hover{
    background-color: rgba(0, 0, 0,0.1);
}
